*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(dog2.jpg);
    background-size: cover;
    
}
.heading{
    position: relative;
    overflow: hidden;
}
.heading h1{

    padding: 2px 0;
    float:none;
    color:rgb(136, 6, 132);
    font-size:150px;
    text-align: center;
    font-family: sans-serif;
   
}
.para{
     margin: 10px 10px;
    position: relative;
}
.para p{
 float: right;
  color: rgb(253, 236, 6);
  font-size: large;
  font-weight:normal;
  font-style: italic;
  font-variant: small-caps;
}
.heading .para p  span{
    position: relative;
    display: inline-block;
}