@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

body {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    /* background: linear-gradient(to bottom, orange, chocolate); */
    background: black;
    color: white;
    overflow-x: hidden;
    background: url('./photos/background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

::-webkit-scrollbar {
    display: none;
}

/* navigation bar  */
.nav {
    position: fixed;
    left: 10px;
    top: 50vh;
    transform: translateY(-50%);
    height: 250px;
    background: rgba(125, 125, 125, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40px;
    border-radius: 15px;
    z-index: 1;
}

.nav li {
    list-style-type: none;
    padding: 10px;
    background: none;
    border-radius: 50%;
    text-align: center;
}

.nav li:hover {
    background: #555;
}

.nav a {
    color: white;
}

/* landing image code done  */

.header {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.header .image {
    width: 94%;
    height: 94%;
    background: url('./photos/dog1.jpg');
    background-size: cover;
    position: absolute;
    top: 3vh;
    left: 3vw;
    border-radius: 30px;
}

.header .image:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.5);
    border-radius: 30px;
}

.header .image:hover::before {
    background: rgb(0, 0, 0, 0.7);
}

.header h1:hover .image:before {
    background: rgb(0, 0, 0, 0.7);
}

.header h1:hover+.image:before {
    background: rgb(0, 0, 0, 0.7);
}

.header h1 {
    position: absolute;
    top: 25%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-size: 120px;
    color: white;
    text-shadow: 0 0 4px white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-stretch: ultra-expanded;
}

@media screen and (max-width: 539px) {
    .header .image {
        background: url('./photos/dog2.jpg');
        background-size: auto 100%;
    }

    .header h1 {
        font-size: 60px;
    }
}

/* about us  */

.aboutus {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 30px 50px;
}


.aboutus h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 60px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 15px;
}

.aboutus .quote {
    padding: 60px 30px;
    background: rgba(100, 100, 100, 0.3);
    border-radius: 10px;
    width: 60vw;
    position: relative;
    font-size: 30px;
}

.aboutus .quote .author {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 2px white;
    border-radius: 2px;
}

.aboutus .text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

.aboutus .text p {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20%;
    font-size: 25px;
}

.aboutus .text img {
    width: max(20%, 150px);
    border-radius: 50%;
}

.aboutus .text img:hover {
    border-radius: 20%;
}

@media screen and (max-width:870px) {
    .aboutus .quote {
        font-size: 15px;
    }

    .aboutus .text p {
        font-size: 14px;
    }
}

/* how we work */
.how_we_work {
    margin: 30px 50px;
    box-shadow: 0 0 5px white;
    padding: 20px;
    border-radius: 10px;
    background: rgba(125, 125, 125, 0.5);
}

.how_we_work h3 {
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.how_we_work .work {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    list-style-type: none;
}