* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.nav {
    position: fixed;
    left: 10px;
    top: 50vh;
    transform: translateY(-50%);
    height: 250px;
    background: rgba(125, 125, 125, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40px;
    border-radius: 15px;
    z-index: 1;
}

.nav li {
    list-style-type: none;
    padding: 10px;
    background: none;
    border-radius: 50%;
    text-align: center;
}

.nav a {
    color: white;
}

.header {
    height: 100vh;
    width: 100vw;
    background: url(dog1.jpg);
    background-size: cover;
    background-position-y: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (max-width :500px) {
    .header {
        background: url(dog2.jpg);
        background-size: 100%;
        background-position-x: 0px;
    }
}

@media screen and (max-width :700px) and (min-width:500px) {
    .header {
        background-position-x: -200px;
        background-repeat: no-repeat;
    }
}

.header h1 {
    font-size: 120px;
    margin-left: 55px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 4px white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: ultra-expanded;
}

.aboutus {
    position: relative;
    padding: 50px;
    margin: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 50vh;
}

.aboutus h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    font-stretch: expanded;
}

.aboutus .para p {
    width: 50vw;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.para {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    height: 35vh;
    align-items: flex-start;
}

.aboutus .para .image {
    width: 350px;
    height: 236px;
    border-radius: 40px;
    transform: skew(10deg);
    background: url(cat1.jpg);
    border: 1px solid black;
    background-size: cover;
}

.aboutus .para .image:hover {
    transform: skew(-2deg) translateX(1vw);
}

.aboutus .para .backdrop {
    width: 350px;
    height: 236px;
    position: absolute;
    transform: skew(-2deg);
    z-index: -1;
    right: 1vw;
    border-radius: 40px;
    background: dodgerblue;
}