body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    position: relative;

    display: flex;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(53, 116, 225);
}
.header h1 {
    text-align: center;
    font-size: 50px;
    font-style: italic;
    -webkit-box-reflect: below 0.5;
}
.header p {
    font-size: 25px;
    font-style: normal;
}

.content marquee {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none;
}
.section {
    width: 100%;
    height: 70vh;
    background: azure;
    margin: 20px auto;
    border: 2px solid black;
}

.section .left {
    float: left;
    width: 50%;
    height: 100%;
    background: url(catdog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 25%;
}
.section .right {
    float: right;
    width: 50%;
    height: 420px;
    background-color: azure;
}
.formbox {
    padding: 40px 40px;
    height: 420px;
}
.formbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #a6af13;
}
.formbox input {
    margin-bottom: 20px;
}
.formbox input[name="Email"],
.formbox input[name="Firstname"],
.formbox input[name="Lastname"],
.formbox textarea[name="text"] {
    border: none;
    border-bottom: 2px solid #a6af13;
    padding: 10px;
}
.section .right .formbox input[type="submit"] {
    background-color: lightskyblue;
    padding: 8px 16px;
    border: 2px solid lightskyblue;
    border-radius: 5px;
    color: white;
}

.section .right .formbox input[type="submit"]:hover {
    background: none;
    color: black;
    cursor: pointer;
}
