.search {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: orange;
    padding: 5% 3%;
    > .container {
        width: 1000px;
        height: 70vh;
        background-color: rgba(125, 125, 125, 0.5);
        border-radius: 50px;
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 10px 15px 25px saddlebrown;
        > select {
            width: 50%;
            padding: 20px;
            border-radius: 20px 0 0 20px;
            background: transparent;
            border: 2px solid white;
            color: white;
            font-size: 20px;
            &:focus {
                background-color: white;
                color: black;
            }
        }
        > .button {
            > #btn {
                padding: 20px;
                border-radius: 0 20px 20px 0;
                background: white;
                border: none;
                color: black;
                font-size: 20px;
                &:hover {
                    cursor: pointer;
                    background-color: transparent;
                    color: white;
                }
            }
        }
    }
    > .svgs {
        > img {
            mix-blend-mode: normal;
            width: 30vw;
        }
    }
}

::placeholder {
    color: white;
    text-align: center;
    font-size: 16px;
}
